<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.5.0/css/all.css” integrity=“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU” crossorigin=“anonymous”> -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/5.5.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark danger-color-dark">
            <a class="navbar-brand" href="/">BucketList</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
              aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bucketlist">My Bucketlist</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Sports
                  </a>
                  <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="/nfl">NFL</a>
                    <a class="dropdown-item" href="/mlb">MLB</a>
                    <a class="dropdown-item" href="/nba">NBA</a>
                    <a class="dropdown-item" href="/nhl">NHL</a>
                    <a class="dropdown-item" href="/college">Collegiate</a>
                    <a class="dropdown-item" href="/all">All</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <!-- <a class="dropdown-item" href="#">Sign Up</a> -->
                    <a href="" class="dropdown-item btn btn-default btn-rounded" data-toggle="modal" data-target="#elegantModalForm">Sign In</a>
                    <a href="" class="dropdown-item btn btn-default btn-rounded" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
  <!--/.Navbar -->
  </head>
  <body>
<!---------Modal Code ----------->


<!-- Modal -->
<div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="md-form mb-5">
          <input type="email" id="Form-email1" class="form-control validate">
          <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
        </div>

        <div class="md-form pb-3">
          <input type="password" id="Form-email1" class="form-control validate">
          <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
          <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="" class="blue-text ml-1 close-modal" data-toggle="modal" data-target="#pwdModal">Password?</a></p>
        </div>

        <div class="text-center mb-3">
          <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in
          with:</p>

        <div class="row my-3 d-flex justify-content-center">
          <!--Facebook-->
          <!-- <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
          Twitter-->
          <!-- <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-twitter"></i></button> -->
          <!--Google +-->
          <button type="button" class="btn btn-white btn-rounded z-depth-1a"><a href="/auth/google"><i class="fab fa-google-plus-g"></i></button>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="" class="blue-text ml-1 close-modal" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a></p>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->




<!-----------MODAL----------->

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/sign-up" method="post">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="string" id="orangeForm-name" class="form-control validate" name="userName">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
        </div>
        

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" name="password">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        
        <input class="btn btn-deep-orange" type="submit" value="Sign-up"/>
      </div>
      </form>
    </div>
  </div>
</div>


<!-----------MODAL----------->


<!----------PASSWORD RESET--------->

      <!--modal-->
      <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">Help me reset my password</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="text-center">
                                <p>If you have forgotten your password you can reset it here.</p>
                                  <div class="panel-body">
                                      <fieldset>
                                          <div class="form-group">
                                              <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                                          </div>
                                          <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                      </fieldset>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>	
            </div>
        </div>
        </div>
      </div>




      <!-- <script>
          $('#ModalSignUpNew').click(function(){
              $('#myModal').removeClass('fade'); //using this eliminates the extra pixels created when opening new modal 
              $('#myModal').modal('hide'); //close the current modal
              $('#myModal').removeData('bs.modal'); //clear the content the current modal
              $('#myModal').load('./_include-modal/signup.php'); //loads the new content
          });
      </script> -->




<!----------PASSWORD RESET--------->

          <div id="container">
              <video id="background_video" autoplay loop muted>
                  <source src="video/Ballpark.mp4" type="video/mp4">
                  <source src="video/Ballpark.mp4" type="video/webm; codecs=vp8, vorbis">    
              </video>
          </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="pages.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </body>
</html>