<!DOCTYPE HTML>
<html>
<head>
    <title>Bucket List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<button class="btn btn-primary" type="submit" onclick="stadiums()">
<script>
function stadiums(){
{{#stadiums}}
`<div class="card" style="width: 18rem;">
<div class="card-body">
<h5 class="card-title">{{name}}</h5>
<h6 class="card-subtitle mb-2 text-muted">{{location}}</h6>
<p class="card-text">{{team}}</p>
</div>
</div>`
{{/stadiums}}
}
return stadiums();
</script>
Professional
</button>
<div id="container">
    <video id="background_video" autoplay loop muted>
        <source src="video/Ballpark.mp4" type="video/mp4">
        <source src="video/Ballpark.mp4" type="video/webm; codecs=vp8, vorbis">    
    </video>
</div>
</body>
</html>