<!DOCTYPE HTML>
<html>
<head>
    <title>Bucket List</title>
    <link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
{{#stadiums}}
<div id="render" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{photo}}" width="200px" height="200px" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{team}}</li>
            <li class="list-group-item">{{location}}</li>
        </ul>
    </div>

</div>
{{/stadiums}}




<div id="container">
    <video id="background_video" autoplay loop muted>
        <source src="video/Ballpark.mp4" type="video/mp4">
        <source src="video/Ballpark.mp4" type="video/webm; codecs=vp8, vorbis">    
    </video>
</div>
</body>
</html>